/*****************************************
 * Controle do filtro
 *****************************************/
#gnosys-filtro-resultado-controle {
  margin: 0;
  background-color: #fff;
  padding: 5px 0;
  min-height: 26px;
}

#gnosys-filtro-resultado-controle-botoes {
  float: right;
}

#gnosys-filtro-resultado-controle .gnosys-icone {
  cursor: default;
  cursor: hand;
  margin: 2px;
  border: 1px solid transparent;
  padding: 2px;
  background-position: 2px center;
}

#gnosys-filtro-resultado-controle .gnosys-icone:hover {
  border-color: #c6c6c6;
  background-color: #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#gnosys-filtro-resultado-controle
  #gnosys-filtro-resultado-controle-buscar
  form {
  display: none;
  float: left;
}

#gnosys-filtro-resultado-controle
  #gnosys-filtro-resultado-controle-buscar
  .gnosys-input.qs_input {
  padding: 2px;
}

#gnosys-filtro-resultado-controle
  #gnosys-filtro-resultado-controle-buscar
  .gnosys-qs-aberto:hover {
  border-color: transparent;
  box-shadow: none;
  cursor: default;
}

#gnosys-filtro-resultado-controle
  #gnosys-filtro-resultado-controle-fecharBuscar {
  background-image: url("/static/img/portal-aluno/iconeResultado_fechar.gif");
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  float: left;
  margin-left: 0;
  padding: 0;
  height: 15px;
  width: 15px;
}
